<!DOCTYPE html>
<html lang="en">
<head>
  <title>Audit Results</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Import Bootstrap styling -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/2.0.3/css/scroller.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

    <!-- DataTables JS -->
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/scroller/2.0.3/js/dataTables.scroller.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/plug-ins/1.10.25/features/pageResize/dataTables.pageResize.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Plotly JS-->
    <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>

</head>
<body>
    <div class="all_content" style="width:1200px; margin:0 auto; font-family: Helvetica;">
    <!-- Opening section-->
    <div class="card border-secondary mt-5 mb-5" style="width: 100%;">
        <h4 class="card-header text-white" style="background-color: #34568B;">Audit Standards</h4>
        <div class="card-body bg-white">
        <p class="card-text">
        <ul>
            <li>
                100% processing and releasing of data in 3 calendar days
            </li>
        </ul>
        <p>NB: In cases where a Jira ticket is found for a run but this does not match a 002 project this could be for a number or reasons. For example:</p>
        <ul>
            <li>
                The date of the run the ticket relates to is not between the audit dates (e.g. the ticket for a run was raised within the audit period but days after the actual run date)
            </li>
            <li>
                The DNAnexus authorisation token does not have correct permissions to view the 002 project
            </li>
            <li>
                The ticket name has more than 2 differences compared to the run name and so they are not considered a match
            </li>
        </ul>
        </p>
        </div>
        </div>

        <div class="card border-secondary mt-5 mb-5" style="width: 100%;">
            <h4 class="card-header text-white" style="background-color: #34568B;">Audit Results</h4>
            <div class="card-body bg-white">
            <h5 class="card-title">Period audited: <b>{{ period_audited }}</b></h5>
            <h5 class="card-title">Report generated: <b>{{ datetime_now }}</b></h5>
            <p class="card-text">
            <ul>
                <li>
                    Number of runs found with 002 projects: <b>{{ no_of_002_runs }}</b>
                </li>
                <li>
                    Additional runs with Jira tickets at status 'All samples released' but no matching '002_' project: <b>{{ runs_no_002|length }}</b>
                </li>
                <li>
                    Additional runs which were not released: <b>{{ cancelled_runs|length }}</b>
                </li>
                <li>
                    Assay compliance:
                    <ul>
                        <li>
                            {% if CEN_fraction %}
                                CEN: <b>{{CEN_fraction}} <span class="complValue">{{ CEN_compliance }}</span>%</b>
                            {% else %}
                                CEN: <b>No runs found</b>
                            {% endif %}
                        </li>
                        <li>
                            {% if MYE_fraction %}
                                MYE: <b>{{MYE_fraction}} <span class="complValue">{{ MYE_compliance }}</span>%</b>
                            {% else %}
                                MYE: <b>No runs found</b>
                            {% endif %}
                        </li>
                        <li>
                            {% if TSO_fraction %}
                                TSO500: <b>{{TSO_fraction}} <span class="complValue">{{ TSO_compliance }}</span>%</b>
                            {% else %}
                                TSO500: <b>No runs found</b>
                            {% endif %}
                        </li>
                        <li>
                            {% if TWE_fraction %}
                                TWE: <b>{{TWE_fraction}} <span class="complValue">{{ TWE_compliance }}</span>%</b>
                            {% else %}
                                TWE: <b>No runs found</b>
                            {% endif %}
                        </li>
                    </ul>
                </li>
            </ul>
            </p>
        </div>
        </div>
        <div class="card border-secondary mt-5 mb-5" style="width: 100%;">
            <h4 class="card-header text-white" style="background-color: #34568B;">CEN Runs</h4>
            <p class="card-text">
                <ul>
                    <li>
                        Number of runs with 002 projects: <b>{{ no_of_CEN_runs }}</b>
                    </li>
                    <li>
                        Additional runs with Jira tickets at status 'All samples released' but no matching '002_' project: <b>{{ runs_no_002 | selectattr("assay_type", "equalto", "CEN") | list | count }}</b>
                    </li>
                    <li>
                        Additional runs which were not released: <b>{{ cancelled_runs | selectattr("assay_type", "equalto", "CEN") | list | count }}</b>
                    </li>
                    <li>
                        {% if CEN_fraction %}
                            Assay compliance: <b>{{CEN_fraction}} <span class="complValue">{{ CEN_compliance }}</span>%</b>
                        {% else %}
                            Assay compliance: <b>No runs found</b>
                        {% endif %}
                    </li>
                </ul>
            </p>
            <div class="card-body bg-white" style="page-break-inside: avoid;">
                {{ chart_1 }}
            <div class="averages" style="width: 100%;">
                {{ averages_1 }}
            </div>
        <div style="padding-top: 30px; padding-bottom: 20px; margin-left:50px;">
            {{ CEN_upload }}
        </div>
            {% if runs_to_review_1 %}
                <div style="padding-top: 30px; padding-bottom: 20px;">
                    <h5>Runs to review manually:</h5>

                    {% if runs_to_review_1.no_jira_tix %}
                        <p><b>No matching Jira ticket found:</b></p>
                        <ul>
                            {% for entry in runs_to_review_1.no_jira_tix  %}
                                <li>{{ entry }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if runs_to_review_1.first_job_before_log %}
                        <p><b>First job was run before upload in staging area</b></p>
                        <ul>
                            {% for entry in runs_to_review_1.first_job_before_log  %}
                            <li>{{ entry }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                {% if runs_to_review_1.reports_before_multiqc %}
                    <p><b>MultiQC was run after reports were released:</b></p>
                    <ul>
                        {% for entry in runs_to_review_1.reports_before_multiqc  %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_1.no_log_file %}
                    <p><b>No lane.all.log file found:</b></p>
                    <ul>
                        {% for entry in runs_to_review_1.no_log_file  %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_1.no_first_job_found %}
                    <p><b>No first job was found:</b></p>
                    <ul>
                        {% for entry in runs_to_review_1.no_first_job_found  %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_1.no_multiqc_or_excel_found %}
                    <p><b>No successful Excel workbook job found:</b></p>
                    <ul>
                        {% for entry in runs_to_review_1.no_multiqc_or_excel_found  %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </div>
            {% endif %}

        {% if open_runs %}
        {% if "CEN" in open_runs|map(attribute="assay_type") %}
        <div style="padding-top: 20px;">
            <h5>Open runs with no 002 project:</h5>
            {% for item in open_runs %}
                {% if item.assay_type == "CEN" %}
                        <p><b>{{ item.run_name }}</b></p>
                        <ul>
                            <li>
                                Date Jira ticket created: {{ item.date_jira_ticket_created }}
                            </li>
                            <li>
                                Current status: {{ item.current_status }}
                            </li>
                        </ul>
                        <br>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}

        {% if runs_no_002 %}
        {% if "CEN" in runs_no_002|map(attribute="assay_type") %}
        <div style="padding-top: 20px;">
            <h5>Jira tickets found for released runs but no 002 project found:</h5>
        {% for item in runs_no_002 %}
            {% if item.assay_type == "CEN" %}
                    <p><b>{{ item.run_name }}</b></p>
                    <ul>
                        <li>
                            Jira ticket created: {{ item.jira_ticket_created }}
                        </li>
                        <li>
                            Jira ticket resolved: {{ item.jira_ticket_resolved }}
                        </li>
                        <li>
                            Estimated TAT (days): {{ item.estimated_TAT }}
                        </li>
                    </ul>
                    <br>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endif %}

        {% if cancelled_runs %}
        {% if "CEN" in cancelled_runs|map(attribute="assay_type") %}
        <div style="padding-top: 30px; padding-bottom: 30px;">
            <h5>Runs that were not completed:</h5>
        {% for run in cancelled_runs %}
            {% if run.assay_type == 'CEN' %}
                <p><b>{{ run.run_name }}</b></p>
                <ul>
                    <li>
                        Date Jira ticket created: {{ run.date_jira_ticket_created }}
                    </li>
                    <li>
                        Reason run not released: {{ run.jira_status }}
                    </li>
                </ul>
                <br>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endif %}
        </div>
        </div>

        <div class="card border-secondary mt-5 mb-5" style="width: 100%;">
            <h4 class="card-header text-white" style="background-color: #34568B;">MYE Runs</h4>
            <div class="card-body bg-white" style="page-break-inside: avoid;">
                <p class="card-text">
                    <ul>
                        <li>
                            Number of runs with 002 projects: <b>{{ no_of_MYE_runs }}</b>
                        </li>
                        <li>
                            Additional runs with Jira tickets at status 'All samples released' but no matching '002_' project: <b>{{ runs_no_002 | selectattr("assay_type", "equalto", "MYE") | list | count }}</b>
                        </li>
                        <li>
                            Additional runs which were not released: <b>{{ cancelled_runs | selectattr("assay_type", "equalto", "MYE") | list | count }}</b>
                        </li>
                        <li>
                            {% if MYE_fraction %}
                                Assay compliance: <b>{{MYE_fraction}} <span class="complValue">{{ MYE_compliance }}</span>%</b>
                            {% else %}
                                Assay compliance: <b>No runs found</b>
                            {% endif %}
                        </li>
                    </ul>
                </p>
            {{ chart_2 }}
        <div class="averages" style="width: 100%;">
            {{ averages_2 }}
        </div>
        <div style="padding-top: 30px; padding-bottom: 20px; margin-left:50px;">
            {{ MYE_upload }}
        </div>
        {% if runs_to_review_2 %}
            <div style="padding-top: 30px; padding-bottom: 20px;">
                <h5>Runs to review manually:</h5>

                {% if runs_to_review_2.no_jira_tix %}
                    <p><b>No matching Jira ticket found:</b></p>
                    <ul>
                        {% for entry in runs_to_review_2.no_jira_tix  %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_2.first_job_before_log %}
                    <p><b>First job was run before upload in staging area</b></p>
                        <ul>
                            {% for entry in runs_to_review_2.first_job_before_log  %}
                                <li>{{ entry }}</li>
                            {% endfor %}
                        </ul>
                {% endif %}

                {% if runs_to_review_2.reports_before_multiqc %}
                    <p><b>MultiQC was run after reports were released:</b></p>
                    <ul>
                        {% for entry in runs_to_review_2.reports_before_multiqc  %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_2.no_log_file %}
                    <p><b>No lane.all.log file found:</b></p>
                    <ul>
                        {% for entry in runs_to_review_2.no_log_file  %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_2.no_first_job_found %}
                    <p><b>No first job was found:</b></p>
                    <ul>
                        {% for entry in runs_to_review_2.no_first_job_found  %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_2.no_multiqc_or_excel_found %}
                    <p><b>No successful MultiQC job found:</b></p>
                    <ul>
                        {% for entry in runs_to_review_2.no_multiqc_or_excel_found  %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}

        {% if open_runs %}
        {% if "MYE" in open_runs|map(attribute="assay_type") %}
        <div style="padding-top: 20px;">
            <h5>Open runs with no 002 project:</h5>
            {% for item in open_runs %}
                {% if item.assay_type == "MYE" %}
                        <p><b>{{ item.run_name }}</b></p>
                        <ul>
                            <li>
                                Date Jira ticket created: {{ item.date_jira_ticket_created }}
                            </li>
                            <li>
                                Current status: {{ item.current_status }}
                            </li>
                        </ul>
                        <br>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}

        {% if runs_no_002 %}
        {% if "MYE" in runs_no_002|map(attribute="assay_type") %}
        <div style="padding-top: 20px;">
            <h5>Jira tickets found for released runs but no 002 project found:</h5>
        {% for item in runs_no_002 %}
            {% if item.assay_type == "MYE" %}
                    <p><b>{{ item.run_name }}</b></p>
                    <ul>
                        <li>
                            Jira ticket created: {{ item.jira_ticket_created }}
                        </li>
                        <li>
                            Jira ticket resolved: {{ item.jira_ticket_resolved }}
                        </li>
                        <li>
                            Estimated TAT (days): {{ item.estimated_TAT }}
                        </li>
                    </ul>
                    <br>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endif %}

        {% if cancelled_runs %}
        {% if "MYE" in cancelled_runs|map(attribute="assay_type") %}
        <div style="padding-top: 30px; padding-bottom: 30px;">
            <h5>Runs that were not completed:</h5>
        {% for run in cancelled_runs %}
            {% if run.assay_type == 'MYE' %}
                <p><b>{{ run.run_name }}</b></p>
                <ul>
                    <li>
                        Date Jira ticket created: {{ run.date_jira_ticket_created }}
                    </li>
                    <li>
                        Reason run not released: {{ run.jira_status }}
                    </li>
                </ul>
                <br>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endif %}
        </div>
        </div>

        <div class="card border-secondary mt-5 mb-5" style="width: 100%;">
            <h4 class="card-header text-white" style="background-color: #34568B;">TSO500 Runs</h4>
            <div class="card-body bg-white" style="page-break-inside: avoid;">
                <p class="card-text">
                    <ul>
                        <li>
                            Number of runs with 002 projects: <b>{{ no_of_TSO500_runs }}</b>
                        </li>
                        <li>
                            Additional runs with Jira tickets at status 'All samples released' but no matching '002_' project: <b>{{ runs_no_002 | selectattr("assay_type", "equalto", "TSO500") | list | count }}</b>
                        </li>
                        <li>
                            Additional runs which were not released: <b>{{ cancelled_runs | selectattr("assay_type", "equalto", "TSO500") | list | count }}</b>
                        </li>
                        <li>
                            {% if TSO_fraction %}
                                Assay compliance: <b>{{TSO_fraction}} <span class="complValue">{{ TSO_compliance }}</span>%</b>
                            {% else %}
                                Assay compliance: <b>No runs found</b>
                            {% endif %}
                        </li>
                    </ul>
                </p>
            {{ chart_3 }}
        <div class="averages" style="width: 100%;">
            {{ averages_3 }}
        </div>
        <div style="padding-top: 30px; padding-bottom: 20px; margin-left:50px;">
            {{ TSO500_upload }}
        </div>
        {% if runs_to_review_3 %}
            <div style="padding-top: 30px; padding-bottom: 20px;">
                <h5>Runs to review manually:</h5>

                {% if runs_to_review_3.no_jira_tix %}
                    <p><b>No matching Jira ticket found:</b></p>
                    <ul>
                    {% for entry in runs_to_review_3.no_jira_tix  %}
                        <li>{{ entry }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_3.first_job_before_log %}
                    <p><b>First job was run before upload in staging area</b></p>
                    <ul>
                    {% for entry in runs_to_review_3.first_job_before_log  %}
                        <li>{{ entry }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_3.reports_before_multiqc %}
                    <p><b>MultiQC was run after reports were released:</b></p>
                    <ul>
                    {% for entry in runs_to_review_3.reports_before_multiqc  %}
                        <li>{{ entry }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_3.no_log_file %}
                    <p><b>No lane.all.log file found:</b></p>
                    <ul>
                    {% for entry in runs_to_review_3.no_log_file  %}
                        <li>{{ entry }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_3.no_first_job_found %}
                    <p><b>No first job was found:</b></p>
                    <ul>
                        {% for entry in runs_to_review_3.no_first_job_found  %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_3.no_multiqc_or_excel_found %}
                    <p><b>No successful MultiQC job found:</b></p>
                    <ul>
                        {% for entry in runs_to_review_3.no_multiqc_or_excel_found  %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </div>
            {% endif %}

        {% if open_runs %}
        {% if "TSO500" in open_runs|map(attribute="assay_type") %}
        <div style="padding-top: 20px;">
            <h5>Open runs with no 002 project:</h5>
            {% for item in open_runs %}
                {% if item.assay_type == "TSO500" %}
                        <p><b>{{ item.run_name }}</b></p>
                        <ul>
                            <li>
                                Date Jira ticket created: {{ item.date_jira_ticket_created }}
                            </li>
                            <li>
                                Current status: {{ item.current_status }}
                            </li>
                        </ul>
                        <br>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}

        {% if runs_no_002 %}
        {% if "TSO500" in runs_no_002|map(attribute="assay_type") %}
        <div style="padding-top: 20px;">
            <h5>Jira tickets found for released runs but no 002 project found:</h5>
        {% for item in runs_no_002 %}
            {% if item.assay_type == "TSO500" %}
                    <p><b>{{ item.run_name }}</b></p>
                    <ul>
                        <li>
                            Jira ticket created: {{ item.jira_ticket_created }}
                        </li>
                        <li>
                            Jira ticket resolved: {{ item.jira_ticket_resolved }}
                        </li>
                        <li>
                            Estimated TAT (days): {{ item.estimated_TAT }}
                        </li>
                    </ul>
                    <br>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endif %}

        {% if cancelled_runs %}
        {% if "TSO500" in cancelled_runs|map(attribute="assay_type") %}
        <div style="padding-top: 30px; padding-bottom: 30px;">
            <h5>Runs that were not completed:</h5>
        {% for run in cancelled_runs %}
            {% if run.assay_type == 'TSO500' %}
                <p><b>{{ run.run_name }}</b></p>
                <ul>
                    <li>
                        Date Jira ticket created: {{ run.date_jira_ticket_created }}
                    </li>
                    <li>
                        Reason run not released: {{ run.jira_status }}
                    </li>
                </ul>
                <br>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endif %}
        </div>
        </div>

        <div class="card border-secondary mt-5 mb-5" style="width: 100%;">
            <h4 class="card-header text-white" style="background-color: #34568B;">TWE Runs</h4>
            <div class="card-body bg-white" style="page-break-inside: avoid;">
                <p class="card-text">
                    <ul>
                        <li>
                            Number of runs with 002 projects: <b>{{ no_of_TWE_runs }}</b>
                        </li>
                        <li>
                            Additional runs with Jira tickets at status 'All samples released' but no matching '002_' project: <b>{{ runs_no_002 | selectattr("assay_type", "equalto", "TWE") | list | count }}</b>
                        </li>
                        <li>
                            Additional runs which were not released: <b>{{ cancelled_runs | selectattr("assay_type", "equalto", "TWE") | list | count }}</b>
                        </li>
                        <li>
                            {% if TWE_fraction %}
                                Assay compliance: <b>{{TWE_fraction}} <span class="complValue">{{ TWE_compliance }}</span>%</b>
                            {% else %}
                                Assay compliance: <b>No runs found</b>
                            {% endif %}
                        </li>
                    </ul>
                </p>
            {{ chart_4 }}
        <div class="averages" style="width: 100%;">
            {{ averages_4 }}
        </div>
        <div style="padding-top: 30px; padding-bottom: 20px; margin-left:50px;">
            {{ TWE_upload }}
        </div>
        {% if runs_to_review_4 %}
            <div style="padding-top: 30px; padding-bottom: 20px;">
                <h5>Runs to review manually:</h5>

                {% if runs_to_review_4.no_jira_tix %}
                    <p><b>No matching Jira ticket found:</b></p>
                    <ul>
                    {% for entry in runs_to_review_4.no_jira_tix  %}
                        <li>{{ entry }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_4.first_job_before_log %}
                    <p><b>First job was run before upload in staging area</b></p>
                    <ul>
                    {% for entry in runs_to_review_4.first_job_before_log  %}
                        <li>{{ entry }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_4.reports_before_multiqc %}
                    <p><b>MultiQC was run after reports were released:</b></p>
                    <ul>
                    {% for entry in runs_to_review_4.reports_before_multiqc  %}
                        <li>{{ entry }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_4.no_log_file %}
                    <p><b>No lane.all.log file found:</b></p>
                    <ul>
                    {% for entry in runs_to_review_4.no_log_file  %}
                        <li>{{ entry }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_4.no_first_job_found %}
                    <p><b>No first job was found:</b></p>
                    <ul>
                        {% for entry in runs_to_review_4.no_first_job_found  %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if runs_to_review_4.no_multiqc_or_excel_found %}
                    <p><b>No successful Excel workbooks job found:</b></p>
                    <ul>
                        {% for entry in runs_to_review_4.no_multiqc_or_excel_found  %}
                            <li>{{ entry }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}

        {% if open_runs %}
        {% if "TWE" in open_runs|map(attribute="assay_type") %}
        <div style="padding-top: 20px;">
            <h5>Open runs with no 002 project:</h5>
            {% for item in open_runs %}
                {% if item.assay_type == "TWE" %}
                        <p><b>{{ item.run_name }}</b></p>
                        <ul>
                            <li>
                                Date Jira ticket created: {{ item.date_jira_ticket_created }}
                            </li>
                            <li>
                                Current status: {{ item.current_status }}
                            </li>
                        </ul>
                        <br>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}

        {% if runs_no_002 %}
        {% if "TWE" in runs_no_002|map(attribute="assay_type") %}
        <div style="padding-top: 20px;">
            <h5>Jira tickets found for released runs but no 002 project found:</h5>
        {% for item in runs_no_002 %}
            {% if item.assay_type == "TWE" %}
                    <p><b>{{ item.run_name }}</b></p>
                    <ul>
                        <li>
                            Jira ticket created: {{ item.jira_ticket_created }}
                        </li>
                        <li>
                            Jira ticket resolved: {{ item.jira_ticket_resolved }}
                        </li>
                        <li>
                            Estimated TAT (days): {{ item.estimated_TAT }}
                        </li>
                    </ul>
                    <br>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endif %}

        {% if cancelled_runs %}
        {% if "TWE" in cancelled_runs|map(attribute="assay_type") %}
        <div style="padding-top: 30px; padding-bottom: 30px;">
            <h5>Runs that were not completed:</h5>
        {% for run in cancelled_runs %}
            {% if run.assay_type == 'TWE' %}
                <p><b>{{ run.run_name }}</b></p>
                <ul>
                    <li>
                        Date Jira ticket created: {{ run.date_jira_ticket_created }}
                    </li>
                    <li>
                        Reason run not released: {{ run.jira_status }}
                    </li>
                </ul>
                <br>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        {% endif %}
        </div>
        </div>


    <div class="card border-secondary mt-5 mb-5" style="width: 100%;">
        <h4 class="card-header text-white" style="background-color: #34568B;">Recorded typos</h4>
        <div class="card-body bg-white">
            {% if ticket_typos %}
                <h5 class="card-title">All mismatches between Staging_Area52 run folder name and Jira ticket name</h5>
                <div class="ticket_typos">
                    {{ ticket_typos }}
                </div>
                <br>
                <br>
            {% endif %}

            {% if typo_folders %}
                <h5 class="card-title">All mismatches between Staging_Area52 run folder name and 002 project name</h5>
                <div class="002_typos">
                    {{ typo_folders }}
                </div>
            {% endif %}
        </div>
    </div>


    </div>

    <script>
        // Sets up DataTables
        $(document).ready(function () {
        $('.dataframe').DataTable( {
            deferRender: true,
            info: false,
            scrollCollapse: true,
            dom: 'Bfrtip',
            buttons: [
            'copyHtml5', 'csv'
            ],
            searching: false,
            paging: false,
            ordering: false
        });
    });

    </script>
    <style>
        .text-red {
            color: red;
        }
        .text-green {
            color: green;
        }
    </style>
    <!-- Colour conditional formatting for compliance percentage -->
    <script>
        $(document).ready(function() {
            $('.complValue').each(function() {
                const val = parseInt($(this).text());
                if(!isNaN(val) && val < 100.0){
                $(this).addClass("text-red");
                } else if(!isNaN(val) && val == 100.0) {
                $(this).addClass("text-green");
                }
            });
        });

    </script>
    <!-- Optional JavaScript -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>