argcomplete==2.0.0
attrs==22.1.0
certifi==2024.07.04
cffi==1.15.1
charset-normalizer==2.0.12
coverage==6.5.0
cryptography==42.0.2
dxpy==0.381.0
idna==3.7
iniconfig==1.1.1
jarowinkler==1.2.1
Jinja2==3.1.4
jsonschema==4.17.3
Levenshtein==0.20.2
MarkupSafe==2.1.1
numpy==1.23.2
packaging==21.3
pandas==1.4.4
pip==23.3
plotly==5.10.0
pluggy==1.0.0
psutil==5.9.3
py==1.11.0
pycparser==2.21
pyparsing==3.0.9
pytest==7.2.0
pytest-cov==4.0.0
python-dateutil==2.8.2
pytz==2022.2.1
rapidfuzz==2.6.1
requests==2.32.0
setuptools==70.0.0
six==1.16.0
tenacity==8.0.1
tomli==2.0.1
urllib3==1.26.19
websocket-client==1.7.0
wheel==0.38.1
