argcomplete==2.0.0
attrs==22.1.0
beepy==1.0.7
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.0.12
colour==0.1.5
coverage==6.5.0
cryptography==36.0.2
dxpy==0.327.1
et-xmlfile==1.1.0
idna==3.3
iniconfig==1.1.1
jarowinkler==1.2.1
Jinja2==3.1.2
jsonschema==4.17.3
Levenshtein==0.20.2
MarkupSafe==2.1.1
numpy==1.23.2
openpyxl==3.0.10
packaging==21.3
pandas==1.4.4
pip==22.1.2
plotly==5.10.0
pluggy==1.0.0
psutil==5.9.2
py==1.11.0
pycparser==2.21
pyparsing==3.0.9
pyrsistent==0.19.2
pytest==7.1.3
pytest-cov==4.0.0
python-dateutil==2.8.2
pytz==2022.2.1
rapidfuzz==2.6.1
requests==2.27.1
setuptools==63.4.1
simpleaudio==1.0.4
six==1.16.0
styleframe==4.1
tenacity==8.0.1
tomli==2.0.1
urllib3==1.26.12
websocket-client==0.54.0
wheel==0.37.1
