<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Tutorial Sample Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">


	</head>
    <header class="page-header header container-fluid">
    </header>
	<body>
        <h1>
            Audit Report for complaince of DNAnexus Apps/Applets with Eastgenomics guidelines
        </h1>


        <div class="container-fluid">
            {{ chart_html | safe }}
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
        <script>
            // Sets up the DataTable
            $(document).ready(function () {
            $('#all_data').DataTable( {
                deferRender:    true,
                scrollY:        '75vh',
                scrollX:        true,
                scroller:       true,
                scroller: {
                    loadingIndicator: true
                },
                scrollCollapse: true,
                'autoWidth': true,
                'processing': true,
                'language': {
                    'loadingRecords': '&nbsp;',
                    'processing': 'Loading...'
                },
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'csv'
                ],
                pageResize:     false,
                ordering:       true
                });
            });
        </script>
    </body>

</html>